.video-block {
    &__content {
        padding: 1rem;
        border-radius: 13px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        max-width: 1067px;
        margin: 0 auto;


        @include media-breakpoint-up(md) {
            padding: 3rem;
        }

        @include media-breakpoint-up(xl) {
            min-height: 457px;
        }

        .block-title {
            br {
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }

        span {
            color: $white;
            display: inline-block;

            a {
                color: $white;
                display: block;
                line-height: 1;
                transition: all 0.3s;

                @include media-breakpoint-up(xl) {
                    margin-bottom: 0.7rem;
                }

                &:hover {
                    text-decoration: none;
                    color: $red-100;
                }

                i {
                    line-height: 1;
                    @include font-size(3rem);

                    @include media-breakpoint-up(xl) {
                        @include font-size(4rem);
                        margin-bottom: 0.7rem;
                    }
                }
            }
        }

    }
}