// Buttons
.btn {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    background-color: $red-100;
    color: $white;
    border-radius: 0;
    @include font-size(1rem);
    padding: .75rem 1.25rem;
    min-width: 11.25rem;
    transition: all .3s ease-in-out;
    box-shadow: 0px 15px 29px rgba(249, 129, 105, 0.68);

    @include media-breakpoint-up(md) {
        min-width: 12.8125rem;
        padding: 1rem 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        @include font-size(1.125rem);
        min-width: 15.9375rem;
        padding: 1.3rem 1.5rem;
    }

    &:hover,
    &:active {
        color: $white;
        background-color: $blue-100;
        box-shadow: none;
    }

    &.btn-primary {
        text-transform: capitalize;
        background-color: $red-100;
        border-color: $red-100;

        &:hover,
        &:active {
            color: $white;
            background-color: $blue-100;
            border-color: $blue-100;
        }
    }

    &.btn-icon {
        min-width: 11.25rem;
        padding: 1rem 1.5rem;
        @include font-size(1rem);
        border-radius: 0px 13px 13px 0px;

        @include media-breakpoint-up(md) {
            min-width: 13.125rem;
            @include font-size(1.25rem);
            padding: 1.25rem 1.5rem;
        }

        @include media-breakpoint-up(xl) {
            min-width: 16.375rem;
            @include font-size(1.5rem);
            padding: 1.73rem 1.5rem;
        }

        i {
            margin-left: 10px;
            vertical-align: middle;

            @include media-breakpoint-up(md) {
                margin-left: 1rem;

            }
        }
    }

    &.btn-circle {
        min-width: 3.125rem;
        border-radius: 50%;

        @include media-breakpoint-up(md) {
            min-width: 3.5rem;
        }

        @include media-breakpoint-up(xl) {
            min-width: 3.875rem;
        }
    }
}