.video-block {
    padding: 2rem;
    border-radius: 13px;
    position: relative;

    video {
        position: absolute;
        top: 0;
        left: 0;
        @include objCover;
        z-index: -2;
    }

    &__content {
        .block-title {
            p {
                max-width: 577px;
                margin: 0 auto;
            }
        }

        span {
            color: $white;
            display: inline-block;

            // a {
            //     color: $white;
            //     display: block;
            //     transition: all 0.3s;

            //     @include media-breakpoint-up(xl) {
            //         margin-bottom: 0.7rem;
            //     }

            //     &:hover {
            //         text-decoration: none;
            //         color: $red-100;
            //     }

            //     i {
            //         line-height: 1;
            //         @include font-size(2.5rem);

            //         @include media-breakpoint-up(xl) {
            //             @include font-size(3.5rem);
            //             margin-bottom: 0.7rem;
            //         }
            //     }
            // }
        }

        .play-btn {
            width: 60px;
            height: 60px;
            border: 1px solid $white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: transparent;
            color: $white;
            @include font-size(1rem);
            margin: 0 auto;
            border-radius: 50%;
            cursor: pointer;
            @include media-breakpoint-up(md) {
                @include font-size(1.125rem);
                width: 80px;
                height: 80px;
            }
            @include media-breakpoint-up(xl) {
                @include font-size(1.25rem);
                width: 100px;
                height: 100px;
            }
            &:hover {
                animation: pulse-animation 2s infinite;
                text-decoration: none;
                color: $white;
            }
        }
        #pauseBtn {
            display: none;
        
            &:before {
                content: "";
                width: 0.9rem;
                height: 1.25rem;
                border-left: 2px solid $white;
                border-right: 2px solid $white;
                display: inline-block;
                z-index: -1;
            }
        }
        
    }
}