.card {
    &-product {
        background-color: $white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 13px;
        height: 100%;
        position: relative;
        transition: all 0.3s;

        @include media-breakpoint-down(sm) {
            max-width: 350px;
            margin: 0 auto;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        }

        &__media {
            img {
                width: 100%;
                border-top-left-radius: 13px;
                border-top-right-radius: 13px;
            }
        }

        &__content {
            @include font-size(0.875rem);
            color: $grayish-blue-2;
            font-family: $font-muli;
            font-weight: 600;
            line-height: 1.3;
            padding: 1rem;

            @include media-breakpoint-up(md) {
                padding: 1.3875rem 1rem;
            }

            @include media-breakpoint-up(xl) {
                padding: 1.6875rem 1.35rem;
            }
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            @include font-size(0.8rem);
            color: $blue-200;
            font-weight: 700;
            font-family: $font-georgia;
            margin-bottom: 0;
            padding-right: 1rem;

            @include media-breakpoint-up(md) {
                @include font-size(1rem);
            }

            @include media-breakpoint-up(lg) {
                @include font-size(1.125rem);
            }

            a{
                color: inherit;
                text-decoration: none;               
            }
        }

        &__price {
            @include font-size(0.8rem);
            color: $red-100;
            font-weight: 700;
            font-family: $font-georgia;

            @include media-breakpoint-up(md) {
                @include font-size(1rem);
            }

            @include media-breakpoint-up(lg) {
                @include font-size(1.375rem);
            }

            @include media-breakpoint-up(xl) {
                @include font-size(1.5625rem);
            }
        }
    }

    &-hover {
        position: relative;
        min-height: 350px;
        border-radius: 7px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        z-index: 0;
        padding: 60px 30px;

        @include media-breakpoint-down(sm) {
            max-width: 350px;
            margin: 0 auto;
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($blue-400, 0.66);
            
            border-radius: 7px;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                opacity: 0;
                visibility: hidden;
                transition: all .4s;
            }
        }

        &:hover {
            &::before {
                @include media-breakpoint-up(lg) {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .card-hover {
                &__content {
                    @include media-breakpoint-up(lg) {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            
        }

        &__content {
            @include font-size(0.875rem);
            font-weight: 600;
            line-height: 1.57;
            color: $white;
            

            @include media-breakpoint-up(lg) {
                opacity: 0;
                visibility: hidden;
                transition: all .4s;
            }

            h3 {
                @include font-size(1.375rem);
                text-transform: capitalize;
            }

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        
        &__icon {
            position: absolute;
            right: 0;
            bottom: 0;

            i {
                background-color: $red-100;
                @include font-size(1.1875rem);
                width: 81px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom-right-radius: 7px;
            }
        }
    }
}